:root{
    --green:#0E8784;
    --dark-grey:#333D4B;
    --pink:#FDD6BA;
    --cream:#FEFCF7;
    --grey:#83888F;

    --ff-primary:'Fraunces', serif;
    --ff-secondary: 'Barlow', serif ;

    /*font sizes*/
    --header-biggest: 9.375rem;
    --header-big: 4.5rem;
    --header-medium: 2.25rem;
    --header-small: 2em;
    --header-smallest: 1.5rem;
    --body : 15px;
    --nav-links :.75rem;

    /*line-heigths*/
    --line-biggest:77px;
    --line-big:77px;
    --line-medium:48px;
    --line-small:40px;
    --line-smallest:32px;
    --line-body:26px;
    --line-nav-links:26px;
}

body{
    font-size: var(--body);
}


.sub__hero--title,
.sub__steps--step--title,
.sub__steps--step--number {
    font-family: var(--ff-primary);
}


.sub__hero--title{font-size:2.5rem;}
.sub__steps--step--title{font-size: 1.75rem;}
.sub__steps--step--number{
    font-size:4.5rem;
    color: var(--pink);
}


.sub__hero{
    border-radius: 10px;
    padding: 100px 1.5rem;
    color: var(--cream);
    text-align: center;
    background-image: url("../assets/plan/mobile/image-hero-blackcup.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.sub__hero--p{
    margin-bottom: 30px;
    line-height: var(--line-body);
}

.sub__steps{
    background-image: url("../assets/plan/tablet/bg-steps.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    padding: 80px 0;
    margin-top: 120px;
    margin-bottom: 120px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sub__steps--step{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: var(--cream);
}

.sub_steps--step--p{
    margin: 1.5rem 0;
    padding: 0 1.5rem;
    max-width: 355px;
}

form{
    color: var(--dark-grey);
}


.form-question{
    font-size: var(--header-small);
    color:var(--grey);
    font-family: var(--ff-primary);
    margin-bottom: 1em;
}


.form-answer-title{
    font-size: var(--header-smallest);
    font-family: var(--ff-primary);
}

.form-answer-p{
    max-width: 220px;
}


.answer-label{
    padding: 1.5em;
    display: block;
    background-color: #e9e7e7;
    border-radius: 10px;
    margin-bottom: 1em;
    cursor: pointer;
}

.answer-label:hover{
    background-color:lightgray;
}

input[type=radio]{
    display: none;
}

input[type="radio"]:checked + label{
    background-color: var(--green);
    color: var(--cream);
}

.order-summary{
    padding: 2.5rem 3rem;
    background-image: url("../assets/plan/desktop/bg-order-summary.png");
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--cream);
    border-radius: 10px;
}

.order-summary-title{
    text-transform: uppercase;
    color: var(--grey);
}

.order-summary-resume{
    margin-top: .5rem;
    font-family: var(--ff-primary);
    font-size: var(--header-smallest);
}

.order-summary-span{
    color: var(--green);
}

.form-btn{
    padding:1rem 2rem;
    font-family: var(--ff-primary);
    color: var(--cream);
    background-color: var(--green);
    border: none;
    border-radius: 10px;
    align-self: flex-end;
   
}

.form-btn:hover{
    background-color: var(--grey);
    color:var(--cream);
    border: none;
}

.button-container{
    margin-top: 1.5em;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
}

.form-error{
    display: none;
    color: red;
    text-decoration: underline;
}


dialog{
    padding: 0;
    border: none;
    border-radius: 10px;
    width: 90%;
    max-width: 600px;
}


.dialog-title{
    background-image: url("../assets/plan/desktop/bg-modal-top.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 2rem 2rem;
    font-size: 1.5rem;
    font-family:var(--ff-primary);
    color: var(--cream);
}

.dialog-summary-resume{
    font-family:var(--ff-primary);
    padding: 1.5em;
    font-size: 1.5rem;
    text-align: center;
}

.dialog-btn{
    padding: 1rem 2rem;
    background-color: var(--green);
    border: none;
    color: var(--cream);
    margin-bottom: 3em;
    margin-left: 1.5rem;
    border-radius: 10px;
    font-family:var(--ff-primary);
}

dialog::backdrop{
    background-color: rgba(0, 0, 0, 0.6);
}




@media(min-width:500px){
    .sub__hero--title{
        font-size: 3rem;
    }
}

@media(min-width:600px){
    .sub__hero{
        background-image: url("../assets/plan/tablet/image-hero-blackcup.jpg");
        background-position: center;
        text-align: left;
        padding-left: 60px;
        padding-top: 130px;
        padding-bottom: 130px;
    }

    .sub__hero--p{
        width: 60%;
        margin-bottom: 0;
    }
}

@media(min-width:750px){
    .sub__steps{
        display: flex;
        flex-direction: row;
        justify-content:space-between;
        width: 100%;
        padding-left:2.5em;
        padding-right:2.5em;
        column-gap: 1.5em;
    }

    .sub__steps--step{
        text-align: left;
        align-items: flex-start;
    }

    .sub__steps--step--title{
        line-height: var(--line-smallest);
        white-space: pre-wrap;
    }
  

    .sub_steps--step--p{
        padding:0;
    }

    .order-checklist{
        display: block;
        width: 60%;
        padding: 0 1.5rem;
    }

    .order__list-item{
        list-style: none;
    
        font-family: var(--ff-primary);
        font-size: 1.2rem;
        border-bottom: 1px solid #e9e7e7;
        width: 180px;
        white-space: nowrap;
        padding: 1rem 0;
    }

    .order__list-item span{
        color: var(--green);
        margin-right: 1rem;
    }



    .sub__order{
        display: flex;
        justify-content: space-between;
    }


    .form-answers-wrapper{
        display: flex;
        justify-content: space-between;
    }

    .answer-label{
        padding-bottom:2rem;
        width: 30%;
        max-width: 228px;
        margin-bottom: 4rem;
    }


    .form-answer-title{
        margin-bottom: 1.5rem;
    }


    .dialog-title{
        font-size: 2.5rem;
    }

    .dialog-summary-resume{
        font-size: 32px;
        text-align: left;
    }

    

}


@media(min-width:900px){
    .sub__hero--title{
        font-size: 4.5rem;
    }
}


@media(max-width:1000px){
    .order-checklist{
        display: none;
    }
}

@media(min-width:1100px){
    .sub__hero{
        background-image: url("../assets/plan/desktop/image-hero-blackcup.jpg");
    }

    .sub__hero--p{
        width: 40%;
    }
}

